<!DOCTYPE html>
<html>
<head>
    <title>Luminux Landing Page</title>
	<meta charset="utf-8" />
</head>
<body>
    <style>

         table{
        font-family:'Oswald',sans-serif;
        border-radius:9px;
        color:#f3f2f6;
        text-shadow: 0px 0px 300px #000;
        font-size:200%;
        background-color:#f5f5f5;
        padding:10px 20px;
        text-decoration:none;
        }

        </style>
    <div class="tbl">
       
        <table align="center" border="0" cellpadding="0" cellspacing="0">

            <tr>

                <td width="250"><a href="#">Sign In</a></td>
                <td width="250"><a href="#">About Us</a></td>
                <td width="250"><a href="#">Contact Us</a></td>
                <td width="250"><a href="#">Solutions Luminux Provide</a></td>

            </tr>


        </table>
    </div>


</body>
</html>
